*{
    
    padding: 0%;
    margin: 0%;
    }
    
    .container{
        font-size: 25px;
    }
    
    body{
        background-color: #1a1a1a;
    }
    
    .banner{
    height: 450px;
    width: 850px;
    background-image: url("./acss/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    
    }
     
    
    
.btn{
        height: 40px;
        width: 130px;
        border-radius: 55px;/*Deixa a  borda redonda*/
        border: none; /*Serve para remover a borda*/
        color: #ffffff;
        font-size: 19px;
        background-color: #ffffff
        margin: 20px;/*distancia o botao do texto*/
     }
     
     
     
     .section-banner {
        display: flex;
        justify-content: center;  /* Centraliza horizontalmente */
        padding: 40px 0;   /* Mantém espaço ao redor */
        }
    
        .titulo-banner {
       color: #ffffff;
       font-size: 35px;
       font-weight: bold;
       }
    
        .estrutura-titulo{
       justify-content: center;
       display: flex;
       padding: 30px;
      }